WABazarHub_04132024_0729_ODS/WABazarHub/WABazarHub/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SWLNBazarHub.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SWLNBazarHub.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EUsuario" nillable="true" type="tns:EUsuario" />
  <xs:complexType name="ArrayOfEUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EUsuario" nillable="true" type="tns:EUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEUsuario" nillable="true" type="tns:ArrayOfEUsuario" />
  <xs:complexType name="ETipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuarioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETipoUsuario" nillable="true" type="tns:ETipoUsuario" />
  <xs:complexType name="ArrayOfETipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ETipoUsuario" nillable="true" type="tns:ETipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfETipoUsuario" nillable="true" type="tns:ArrayOfETipoUsuario" />
  <xs:complexType name="EProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaID" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductoID" type="xs:int" />
      <xs:element minOccurs="0" name="ProveedorID" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProductos" nillable="true" type="tns:EProductos" />
  <xs:complexType name="ArrayOfEProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProductos" nillable="true" type="tns:EProductos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProductos" nillable="true" type="tns:ArrayOfEProductos" />
  <xs:complexType name="EPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPedido" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPedidos" nillable="true" type="tns:EPedidos" />
  <xs:complexType name="ArrayOfEPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPedidos" nillable="true" type="tns:EPedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPedidos" nillable="true" type="tns:ArrayOfEPedidos" />
  <xs:complexType name="EDetallesPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="DetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDetallesPedido" nillable="true" type="tns:EDetallesPedido" />
  <xs:complexType name="ArrayOfEDetallesPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EDetallesPedido" nillable="true" type="tns:EDetallesPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEDetallesPedido" nillable="true" type="tns:ArrayOfEDetallesPedido" />
  <xs:complexType name="EDireccionesEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionID" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistroEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDireccionesEnvio" nillable="true" type="tns:EDireccionesEnvio" />
  <xs:complexType name="ArrayOfEDireccionesEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EDireccionesEnvio" nillable="true" type="tns:EDireccionesEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEDireccionesEnvio" nillable="true" type="tns:ArrayOfEDireccionesEnvio" />
  <xs:complexType name="EProveedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProveedorID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProveedores" nillable="true" type="tns:EProveedores" />
  <xs:complexType name="ArrayOfEProveedores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProveedores" nillable="true" type="tns:EProveedores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProveedores" nillable="true" type="tns:ArrayOfEProveedores" />
  <xs:complexType name="ECategorias">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaID" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ECategorias" nillable="true" type="tns:ECategorias" />
  <xs:complexType name="ArrayOfECategorias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ECategorias" nillable="true" type="tns:ECategorias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfECategorias" nillable="true" type="tns:ArrayOfECategorias" />
</xs:schema>